<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977215673458-46nj2m13u9i4q6lu3s7apbts46mes5lu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977215673458-46nj2m13u9i4q6lu3s7apbts46mes5lu</string>
	<key>API_KEY</key>
	<string>AIzaSyBww-9L3Zc0nU6xXbDDyqXUqpxmyiAvyWI</string>
	<key>GCM_SENDER_ID</key>
	<string>977215673458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.livingmobile.beginneriOS</string>
	<key>PROJECT_ID</key>
	<string>beginner-ios-7b56f</string>
	<key>STORAGE_BUCKET</key>
	<string>beginner-ios-7b56f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977215673458:ios:2c8d3736d5c79e78b51eeb</string>
</dict>
</plist>